.contenedor {
  display: flex;
  margin: auto;
  width: auto;
  height: auto;
  padding: 20px;
  border: 2px;
  justify-content: center;
  background-image: url(fondo.jpg);
}

.bloque {
  display: block;
}

.linea {
  display: inline;
}

.imagen {
  display: inline;
  width: 50px;
  height: 50px;
}

imagen1 {
  display: inline;
  width: 2%;
  height: 2%;
}

.link {
  text-decoration: white;
}

.menu {
  align-items: flex-end;
}
